<div class="container">
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Almighty</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <hr>
<div class="offcanvas-body d-flex flex-column justify-content-between px-1 pt-0 h-100">
  <div>
    <ul class="navbar-nav">
      <li><a class="nav-link p-2 ps-3" data-bs-dismiss="offcanvas" routerLink="/"><i class="fa-regular fa-house"></i>&nbsp;&nbsp; My Tasks</a></li>
      <li><a class="nav-link p-2 ps-3" data-bs-dismiss="offcanvas" routerLink="/completedTasks"><i class="fa-solid fa-circle-check check"></i>&nbsp;&nbsp; Completed Tasks</a></li>
    </ul>
  </div>
  
  <div class="signout mt-3">
    <button class="btn btn-secondary w-100" type="button">
      Sign Out
    </button>
  </div>
</div>

</div>
</div>